# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
build/
bld/

# NuGet
*.nupkg
packages/
!**/packages/build/

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
